.navbar {
    background-color: #13a052;
}

.headings {
    background: url("../images/homepage-header-image.jpg") no-repeat center;
    color: white;
    padding: 40px;
    border-radius: 20px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.24);
    padding: 30px;
    border-radius: 20px;
    border: white solid 3px;
}

.add-button {
   background-color: #13a052;
   min-width: 150px;
   border-radius: 10px
}

.search-button {
    background-color: #dda711;
    min-width: 150px;
    border-radius: 10px
}

.card-categories {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    color: #343a40;
    border-radius: 10px;
}

.card-categories:hover {
    background-color: #ebebeb
}

.card-img-top {
    min-height: 100%;
    max-height: 193px;
    max-width: 100%;
    border-radius: 10px;
}

.recipe-panel {
    border: 2px solid green;
    border-radius: 5px;
    padding: 20px;
    margin: 3px
}

.recipe-panel p {
    background-color: white;
    padding: .75rem 1.25rem;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}


.add-ingr {
    background-color: #33b5e5;
    border: none;
    color: white;
    border-radius: 10px;
}

.add-step {
    background-color: #33b5e5;
    border: none;
    color: white;
    border-radius: 10px;
}

.confirm-delete-box {
    display: none;
}

.accordion .card {
    border: 2px solid green;
}

.btn-link {
     text-transform: capitalize;
}

.btn-link:hover {
     color: green;
}