@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Poppins&display=swap');

.navbar-brand {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 30px;
}

.navbar-brand:hover {
    font-size: 32px;
}

.navbar {
    background-color: #13a052;
}

.nav-link {
    font-size: 20px;
    margin-right: 15px
}

.headings {
    background: url("../images/homepage-header-image.jpg") no-repeat center;
    color: white;
    padding: 40px;
    border-radius: 20px;
}


.category-headings {
    color: white; 
    padding: 30px; 
    border-radius: 20px; 
}


.search-heading  {
    background: url("../images/search-header-image.jpg") no-repeat center;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.recipe-heading  {
    background: url("../images/recipe-header-image.jpg") no-repeat center;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.add-heading {
    background: url("../images/add-header-image.jpg") no-repeat center;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.edit-heading {
    background: url("../images/add-header-image.jpg") no-repeat center;
    color: white;
    padding: 30px;
    border-radius: 20px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.274);
    padding: 30px;
    border-radius: 20px;
    border: white solid 3px;
}

h2 {
    background-color: rgba(0, 0, 0, 0.39);
    padding: 20px;
    border-radius: 20px;
    border: white solid 3px;
}

h4 {
    color: #13a052
}

.add-button {
   background-color: #13a052;
   min-width: 150px;
   border-radius: 10px
}

.search-button {
    background-color: #dda711;
    min-width: 150px;
    border-radius: 10px
}

.search-page-buttons {
    border-radius: 10px
}

.search-input {
    max-height: 31px;
}

.card-categories {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    color: #343a40;
    border-radius: 10px;
}

.card-categories:hover {
    box-shadow: 5px 5px 10px 5px lightgrey
}

.card-img-top {
    min-height: 100%;
    max-height: 193px;
    max-width: 100%;
    border-radius: 10px;
}

.recipe-panel {
    border: 2px solid #13a052;
    border-radius: 10px;
    padding: 20px;
    margin: 3px
}

.recipe-panel p {
    background-color: white;
    padding: .75rem 1.25rem;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
    border-radius: 10px;
    
}

.add-edit-form {
    border: 2px solid #13a052;
    border-radius: 10px;
}

.list-group-flush>.list-group-item {
    border-radius: 10px
}

.list-group .list-group-item:first-child {
    border-radius: 10px;
}

.list-group .list-group-item:last-child {
   border-radius: 10px;
}

.search-box {
    border: 2px solid #13a052;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.add-ingr {
    background-color: #33b5e5;
    border: none;
    color: rgb(232, 232, 232);
    border-radius: 15px;
}

.add-step {
    background-color: #33b5e5;
    border: none;
    color: rgb(232, 232, 232);
    border-radius: 15px;
}

.add-ingr:hover {
    background-color: #58d0fc;
    color: rgb(232, 232, 232);
    border-radius: 15px;
}

.add-step:hover {
    background-color: #58d0fc;
    color: rgb(232, 232, 232);
    border-radius: 15px;
}

.fa-minus-circle {
    font-size: 27px;
    color: #ff4444;
    background-color: rgb(230, 230, 230);
}   

.fa-minus-circle:hover {
    font-size: 27px;
    color: #ff5e5e;
    background-color: rgb(230, 230, 230);
}  
 

.confirm-delete-box {
    display: none;
}

.accordion .card {
    border: 2px solid #13a052;
    background-color: #f5f5f5;
}

.accordion .card:hover {
    border: 2px solid #dda711;
}

.fa-caret-down {
    color:#13a052;
}

@media screen and (max-width: 768px) {

    .category-recipe-titles {
        font-size: 12px;
    }

    .accordion .card {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
     .add-button {
        min-width: 225px;
        border-radius: 10px
    }

    .search-button {
        min-width: 225px;
    }
    
}

@media screen and (max-width: 425px) {

    .add-button {
        min-width: 225px;
        border-radius: 10px
    }

    .search-button {
        min-width: 225px;
    }
}