.navbar {
    background-color: #13a052;
}

.headings {
    background: url("../images/index-header-image.jpg") no-repeat center;
    color: white;
    padding: 40px;
    border-radius: 20px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.24);
    padding: 30px;
    border-radius: 20px;
    border: white solid 2px;
}

.add-button {
   background-color: #13a052;
   min-width: 130px;
}

.buttons {
    border-radius: 2rem;
    color: white;
    box-sizing: border-box;
}

.buttons:hover {
    border: solid 2px #ffe507;
}

a:hover {
    color: white
}

.green-buttons {
    background-color: rgb(4, 173, 4);
    border: solid 2px rgb(4, 173, 4);
}

.card-categories {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: #343a40;
}

.card-img-top {
    max-height: 60%;
    max-width: 60%
}

.recipe-panel {
    border: 2px solid green;
    border-radius: 5px;
    padding: 20px;
    margin: 3px
}

.recipe-panel p {
    background-color: white;
    padding: .75rem 1.25rem;
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}


.add-ingr {
    background-color: #33b5e5;
    border: none;
    color: white;
    border-radius: 10px;
}

.add-step {
    background-color: #33b5e5;
    border: none;
    color: white;
    border-radius: 10px;
}

.confirm-delete-box {
    display: none;
}

.accordion .card {
    border: 2px solid green;
}

.btn-link {
     text-transform: capitalize;
}

.btn-link:hover {
     color: green;
}