{% extends "base.html" %}

{% block content %}

<!-- Add Recipe Heading -->
<section>
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-12 col-md-6 text-center mt-4 add-heading z-depth-3">
                <h2><strong>Add Recipe</strong></h2>
            </div>
        </div>
    </div>
</section>

<!-- Add Recipe Form -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-12 col-md-10 mt-4 text-center add-edit-form grey lighten-4 p-3 p-md-5 mb-4 z-depth-3"
                method="POST" action="{{ url_for('add_recipe') }}">
                <div class="row">
                    <!-- Choose Category -->
                    <div class="col-12">
                        <select class="browser-default custom-select mb-4 shadow" name="category_name" aria-label="choose category" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name|capitalize }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <!-- Recipte Title Input -->
                    <div class="col-12">
                        <input class="form-control form-control-lg mb-4 shadow" minlength="3" name="title" type="text"
                            placeholder="Recipe Title" aria-label="recipe title input" required>
                    </div>
                </div>
                <div class="row">
                    <!-- Description Input -->
                    <div class="col-12">
                        <div class="form-group shadow">
                            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                                placeholder="Description..." name="description" minlength="10" 
                                aria-label="description input" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Select Servings -->
                    <div class="col-12 col-md-4">
                        <select class="browser-default custom-select mb-4 shadow" name="servings" 
                            aria-label="select servings" required>
                            <option value="" disabled selected>Serves</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                    <!-- Select Time -->
                    <div class="col-12 col-md-4">
                        <select class="browser-default custom-select mb-4 shadow" 
                            aria-label="select time" name="time" required>
                            <option value="" disabled selected>Total Time</option>
                            {% for n in range(5,185,5) %}
                            <option value="{{ n }}">{{ n }} mins</option>  
                            {% endfor %} 
                        </select>
                    </div>
                    <!-- Select Level -->
                    <div class="col-12 col-md-4">
                        <select class="browser-default custom-select mb-4 shadow" name="level"
                            aria-label="select level" required>
                            <option value="" disabled selected>Difficulty Level</option>
                            {% for level in levels %}
                            <option value="{{ level.difficulty_level }}">{{ level.difficulty_level|capitalize }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- Ingedients Input -->
                <strong><label>Ingredients</label></strong>
                <div class="row">
                    <div class="col-12 ingredient">
                        <input class="form-control form-control-md shadow mb-1" name="ingredients" type="text"
                            placeholder="Ingredient" aria-label="ingredient input" required>
                    </div>
                    <!-- Add / Delete Ingedient Input Buttons -->
                    <div class="col-12 col-lg-2 mt-2 mb-3">
                        <i role="button" class="fas fa-plus-circle add-ingr left" aria-label="add ingredient"></i>
                        <i role="button" class="fas fa-times-circle remove-ingr ml-1" aria-label="remove ingredient"></i>
                    </div>
                </div>
                <!-- Steps Input -->
                <strong><label class="mt-1">Steps</label></strong>
                <div class="row">
                    <div class="col-12 step">
                        <input class="form-control form-control-md shadow mb-1" name="steps" type="text"
                            placeholder="Step" aria-label="step input" required>
                    </div>
                    <!-- Add / Delete Step Input Buttons -->
                    <div class="col-12 col-lg-2 mt-2 mb-1">
                        <i role="button" class="fas fa-plus-circle add-step" aria-label="add step"></i>
                        <i role="button" class="fas fa-times-circle remove-step ml-1" aria-label="remove step"></i>
                    </div>
                </div>
                <small class="form-text text-muted mb-4">
                    <strong>No need to put step numbers!</strong>
                </small>
                <!-- Submit Button -->
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success my-4 btn-block" type="submit">Add Recipe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}