{% extends "base.html" %}
{% block content %}

<!-- Contact Heading -->
<section>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center my-3 shadow z-depth-3 contact-heading text-center">
                <h2><strong>Get in Touch</strong></h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 mt-4">
            <div class="text-center p-2 flash-message z-depth-1">
                <p>
                    For any queries, doubts or feedback, send us an email and we'll get back to you shortly:
                </p>
                <a href="mailto:vegtabible@admin.com">vegtabible@admin.com</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}