{% extends "base.html" %}

{% block content %}

<!-- Edit Recipe Heading -->
<section>
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-12 col-md-6 text-center mt-4 edit-heading z-depth-3">
                <h2><strong>Edit Recipe</strong></h2>
            </div>
        </div>
    </div>
</section>

<!-- Add Recipe Form -->
<section>
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-12 col-md-10 mt-4 text-center add-edit-form grey lighten-4 p-3 p-md-5 mb-4 z-depth-3"
                method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <div class="row">
                    <!-- Choose Category -->
                    <div class="col-12">
                        <select class="browser-default custom-select mb-4 shadow" name="category_name" aria-label="choose category" required>
                            <option value="" disabled>Choose Category</option>
                            {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" selected>
                                {{ category.category_name|capitalize }}</option>
                            {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name|capitalize }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <!-- Recipte Title Input -->
                    <div class="col-12">
                        <input class="form-control form-control-lg mb-4 shadow" minlength="3" name="title" type="text"
                            value="{{ recipe.recipe_title|title }}" placeholder="Recipe Title" aria-label="recipe title input" required>
                    </div>
                </div>
                <div class="row">
                    <!-- Description Input -->
                    <div class="col-12">
                        <div class="form-group shadow">
                            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                                placeholder="Description..." name="description" minlength="10"
                                aria-label="description input" required>{{ recipe.description|capitalize }}</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Select Servings -->
                    <div class="col-12 col-md-4">
                        <select class="browser-default custom-select mb-4 shadow" name="servings" 
                            aria-label="select servings" required>
                            <option value="" disabled>Serves</option>
                            {% for n in range(1,9) %}
                            {% if recipe.servings == n %}
                            <option value="{{ recipe.servings }}" selected>
                                {{ recipe.servings }}</option>
                            {% else %}
                            <option value="n">{{ n }}
                            </option>
                            {% endif %}     
                            {% endfor %} 
                        </select>
                    </div>
                    <!-- Select Time -->
                    <div class="col-12 col-md-4">
                        <select class="browser-default custom-select mb-4 shadow" name="time" 
                            aria-label="select time" required>
                            <option value="" disabled>Total Time</option>
                            {% for n in range(5,185,5) %}
                            {% if recipe.total_time == n %}
                            <option value="{{ recipe.total_time }}" selected>
                                {{ recipe.total_time }}</option>
                            {% else %}
                            <option value="{{ n }}">{{ n }} mins</option>
                            {% endif %}     
                            {% endfor %} 
                        </select>
                    </div>
                    <!-- Select Level -->
                    <div class="col-12 col-md-4">
                        <select class="browser-default custom-select mb-4 shadow" name="level" 
                            aria-label="select level" required>
                            <option value="" disabled>Difficulty Level</option>
                            {% for level in levels %}
                            {% if level.difficulty_level == recipe.difficulty_level %}
                            <option value="{{ level.difficulty_level }}" selected>
                                {{ level.difficulty_level|capitalize }}</option>
                            {% else %}
                            <option value="{{ level.difficulty_level }}">{{ level.difficulty_level|capitalize }}
                            </option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!-- Ingedients Input -->
                <strong><label>Ingredients</label></strong>
                <div class="row">
                    <div class="col-10 ingredient">
                        {% for ingredient in ingredients %}
                        <input class="form-control form-control-md shadow mb-1 ingredient-input" name="ingredients"
                            type="text" placeholder="Ingredient" minlength="3" value="{{ ingredient }}" 
                            aria-label="ingredient input" required>
                        {% endfor %}
                    </div>
                    <!-- Add / Delete Ingedient Input Buttons -->
                    <div class="col-1">
                        <button type="button" class="add-ingr shadow mb-1" aria-label="add ingredient">
                            <i class="fas fa-plus"></i></button>
                        <i role="button" class="fas fa-minus-circle remove-ingr shadow" aria-label="remove ingredient"></i>
                    </div>
                </div>
                <small class="form-text text-muted text-center mb-4">
                    Click + to add more, or – to delete.
                </small>
                <!-- Steps Input -->
                <strong><label class="mt-1">Steps</label></strong>
                <div class="row">
                    <div class="col-10 step">
                        {% for step in steps %}
                        <input class="form-control form-control-md shadow mb-1 step-input" name="steps" type="text"
                            placeholder="Step" minlength="3" value="{{ step }}" aria-label="step input" required>
                        {% endfor %}
                    </div>
                    <!-- Add / Delete Step Input Buttons -->
                    <div class="col-1">
                        <button type="button" class="add-step shadow mb-1" aria-label="add step"><i class="fas fa-plus"></i></button>
                        <i role="button" class="fas fa-minus-circle remove-step shadow" aria-label="remove step"></i>
                    </div>
                </div>
                <small class="form-text text-muted mb-4">
                    Click + to add more. No need to put step numbers!
                </small>
                <!-- Submit / Cancel Buttons -->
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-success my-3 btn-block" type="submit">Update Recipe</button>
                        <a class="btn btn-danger btn-block" href="{{ url_for('index') }}">Cancel Update</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}