{% extends "base.html" %}

{% block content %}
   
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>The Digital Vegetarian Cookbook</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-4 text-center">
            <a href="#" class="btn my-2 buttons green-buttons">Add Recipes</a>
        </div>
        <div class="col-12 col-md-4 text-center">
            <a href="#" class="btn my-2 buttons green-buttons">Search Recipes</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col-sm-6 col-lg-4">
            <a href="/categories/{{ category.category_name }}">
                <div class="card card-categories">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ category.category_name|capitalize }}</h5>
                        <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}