{% extends "base.html" %}

{% block content %}

<!-- Login Heading -->
<section>
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-12 col-md-6 text-center mt-4 login-heading z-depth-3">
                <h2><strong>Log In</strong></h2>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <form class="col-12 col-md-10 mt-4 text-center add-edit-form grey lighten-4 p-3 p-md-5 mb-4 z-depth-3"
                method="POST" action="{{ url_for('login') }}">
                <div class="row">
                    <!-- Username -->
                    <div class="col-12">
                        <input class="form-control form-control mb-4 shadow" name="username" type="text"
                            minlength="5" maxlength="20" placeholder="Username" aria-label="username" required>
                    </div>
                </div>
                <div class="row">
                    <!-- Password -->
                    <div class="col-12">
                        <input class="form-control form-control mb-4 shadow" name="password" type="password" placeholder="Password"
                            minlength="5" maxlength="20" aria-label="password" required>
                    </div>
                </div>
                <div class="row">
                    <!-- Submit -->
                    <div class="col-12">
                        <button class="btn btn-success my-4 btn-block" type="submit">Log In</button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <!-- Register Option -->
                    <div class="col-12">
                        <p>
                           <strong>Not Registered Yet? <a href="{{ url_for('register') }}" class="a light-blue-text text-darken-4">Register Here</a></strong>   
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}