{% extends "base.html" %}
{% block content %}

<!-- My Recipes Heading -->
<section>
    <div class="container">
        <div class="row justify-content-center my-4">
            <div class="col-12 col-md-6 text-center my-3 shadow z-depth-3 profile-heading text-center" no-repeat center>
                <h2><strong>My Recipes</strong></h2>
            </div>
        </div>
    </div>
</section>

<section>
   <div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="text-center p-4 shadow mb-4 card-categories">
                <div class="row justify-content-center">
                    <h5 class="card-title"><strong>Recipes uploaded by jonathanmeaney</strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}