{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h2>{{ recipe.recipe_title }}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-2 justify-content-center">
        <div class="col-12 col-md-7 recipe-panel grey lighten-4 shadow offset-1 z-depth-3">
            <h5>Description:</h5>
            <p class="shadow">{{ recipe.description }}</p>
        </div>
        <div class="col-12 col-md-3 recipe-panel grey lighten-4 shadow offset-1">
            <h5>Info:</h5>
            <p class="shadow">Time: {{ recipe.total_time }} mins <strong>|</strong> Serves: {{ recipe.servings }}
            Category: {{ recipe.category_name|capitalize }}<br>Level: {{ recipe.difficulty_level|capitalize }}</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 recipe-panel grey lighten-4 shadow offset-1">
            <h5>Ingredients:</h5>
            <ul class="list-group list-group-flush grey lighten-4 shadow">
            {% for ingredient in ingredients %}
                <li class="list-group-item">{{ ingredient|capitalize }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-7 recipe-panel grey lighten-4 shadow offset-1">
            <h5>Steps:</h5>
            <ol class="list-group list-group-flush grey lighten-4 shadow">
            {% for step in steps %}
                <li class="list-group-item">{{ loop.index }}. {{ step|capitalize }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div> 
{% endblock %}