{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
    {% for key in recipe %}
        <div class="col-12 text-center mt-5">
            <h2>{{ key.recipe_title }}</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col-12 col-md-7 recipe-panel offset-1">
            <h5>Description:</h5>
            <p>{{ key.description }}</p>
        </div>
        <div class="col-12 col-md-3 recipe-panel offset-1">
            <h5>Info:</h5>
            <p>Time: {{ key.total_time }} mins <strong>|</strong> Serves: {{ key.servings }}</p>
            <p>Category: {{ key.category_name|capitalize }} | Level: {{ key.difficulty_level|capitalize }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-3 recipe-panel offset-1">
            <h5>Ingredients:</h5>
            <ul class="list-group list-group-flush">
            {% for ingredient in ingredients %}
                <li class="list-group-item">{{ ingredient|capitalize }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-7 recipe-panel offset-1">
            <h5>Steps:</h5>
            <ol class="list-group list-group-flush">
            {% for step in steps %}
                <li class="list-group-item">{{ loop.index }}. {{ step|capitalize }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div> 
{% endblock %}