{% extends "base.html" %}
{% block content %}

<!-- Search Heading -->
<section>
    <div class="container my-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center my-3 shadow z-depth-3 search-heading text-center">
                <h2><strong>Search Recipes</strong></h2>
            </div>
        </div>
    </div>
</section>

<!-- Search Bar -->
<section>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form class="text-center search-box p-4 shadow mb-2" method="POST" action="{{ url_for('search') }}">
                <div class="row justify-content-center">
                    <!-- Search Input -->
                    <div class="col-12 col-lg-6">
                        <input class="form-control my-2 my-lg-0 search-input" type="text" name="query"
                            placeholder="Search" aria-label="search input">
                    </div>
                    <div class="col-12 col-lg-4">
                        <!-- Search Button -->
                        <button class="btn btn-sm info-color text-white btn-rounded my-lg-0 my-2 search-page-buttons"
                            type="submit" aria-label="search"><i class="fas fa-search left"></i></button>
                        <!-- Reset Button -->
                        <a href="{{ url_for('search_page') }}"
                            class="btn btn-danger text-white btn-rounded btn-sm  my-lg-0 search-page-buttons">Reset</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</section>

<!-- Search Results Section -->
<section>
    <div class="container">
        {% if query %}
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 my-3">
                <div class="text-center">
                    <h4>
                        {{ recipes|length }} search results for "{{ query }}"
                    </h4>
                </div>
            </div>
        </div>
        {%  endif %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                {% for recipe in recipes %}
            <!-- Recipe Panel -->
                <div class="accordion mb-1" id="accordionExample">
                    <div class="card z-depth-2 bordered">
                        <div class="card-header" id="heading{{ loop.index }}" data-toggle="collapse"
                            data-target="#collapse{{ loop.index }}" aria-expanded="false"
                            aria-controls="collapse{{ loop.index }}">
                        <!-- Recipe Title -->
                            <h6 class="mb-0 collapsed category-recipe-titles">
                                {{ recipe.recipe_title|title }} <i class="fas fa-caret-down left"></i>
                            </h6>
                        </div>
                        <!-- Toggle to show/hide Recipe Description Section -->
                        <div id="collapse{{ loop.index }}" class="collapse" aria-label="toggle recipe desicription"
                            data-parent="#accordionExample">
                            <!-- Recipe Description -->
                            <div class="card-body">
                                <p>{{ recipe.description }}</p>
                                <!-- See Recipe Button -->
                                <a href="/categories/{{ recipe.category_name }}/{{ recipe.recipe_title }}/{{ recipe._id }}"
                                    class="btn btn-success btn-sm btn-rounded">See Recipe 
                                    <i class="fas fa-arrow-right"></i></a>
                                {% if session.user %}
                                {% if session.user|lower == recipe.added_by|lower %}
                                <!-- Edit Recipe Button -->
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                    class="btn text-white info-color btn-sm btn-rounded" aria-label="edit recipe"><i class="fas fa-edit left"></i>EDIT</a>
                                <!-- Delete Recipe Button -->
                                <button type="button" class="delete-btn btn text-white btn-danger btn-sm btn-rounded"><i
                                        class="fas fa-trash-alt left" aria-label="delete recipe"></i>DELETE</button>
                                <!-- Confirm Delete Yes / No Buttons -->
                                <div class="confirm-delete-box ml-2 mt-1">
                                    Are you sure you want to delete? 
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                        class="btn btn-sm btn-outline-success">Yes</a>
                                    <button type="button"
                                        class="cancel-delete-btn btn btn-sm btn-outline-danger">No</button>
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}